@import "tailwindcss";
@plugin "daisyui";

.custom-image-position {
    object-position: 50% 50%;
}

@theme inline {
    --font-poppins: "Poppins", sans-serif;
    --color-primary: #0086c9;
    --color-disable: #a0a0a0;

    --spacing-74: 18.5rem;
    --spacing-140: 35rem;
}



@media (min-width: 1000px) {
    .custom-image-position {
        object-position: 50% 40%;
    }
}